<body>
  <div class="container">
    <div class="header">
      <h2 class="header__text">Rooms</h2>
    </div>

    <hr>

    <div class="tab">
        <button class="tablinks" *ngFor="let room of rooms" (click)="roomClicked(room)">{{room.name}}</button>
    </div>

    <div class="main">
      <div class="cards"  *ngFor= "let someroom of selectedRoom">
        <div class="cards__head">
          <h3 id="head-text" (click)="goToRoom(someroom)">{{someroom.name}}</h3>
          <ul class="menu-content">
            <li ><a class="fa fa-volume-up" ></a></li>
            <li><a class="fa fa-power-off"></a></li>
          </ul>
        </div>
        <div class="cards__body" >
          <img (click)="goToRoom(someroom)" src="../../assets/image/modern-black-and-white-living-room-stripede-rug.jpg" id="image_room" alt="image_main">
          <div class="option">
              <ul class="menu-content">
                  <li><i (click)="climateAct()" *ngIf="climate" class="fa fa-thermometer-empty"></i></li>
                  <li><i id="off" (click)="climateAct()" *ngIf="!climate" class="fa fa-thermometer-empty"></i></li>

                  <li><i class="fa fa-lightbulb"></i></li>
                  <li><i id="off" class="fa fa-lightbulb"></i></li>

                  <li><i *ngIf="music" (click)="musicAct()" class="fa fa-music"></i></li>
                  <li><i *ngIf="!music" (click)="musicAct()" id="off" class="fa fa-music"></i></li>

                  <li><i *ngIf="video" (click)="videoAct()" class="fa fa-tv"></i></li>
                  <li><i *ngIf="video" (click)="videoAct()" id="off" class="fa fa-tv"></i></li>

              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>