<body>
    <header class="header">
        <div class="header__logo-box">
            <i id="top-button" class="fa fa-arrow-left" (click)="goToHome()" ></i>
            <i id="top-button" class="fa fa-power-off" *ngIf="!power" (click)="allControls()" style="float:right"></i>
            <i id="top-button-1" class="fa fa-power-off" *ngIf="power" (click)="allControls()" style="float:right"></i>

        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Living Room</span><br>
                <ul class="menu-content">
                    <li><i class="fa fa-thermometer-empty"></i><span>22 C</span></li>
                    <li><i class="fa fa-lightbulb"></i></li>
                    <li><i class="fa fa-music"></i></li>
                    <li><i class="fa fa-tv"></i></li>
                </ul>
            </h1>
        </div>
    </header>

    <div class="main-container">
      <div class="main-container__head">
        <h3>Devices</h3>
      </div>
      <div class="main-container__body">
        <div class="card">
          <div class="card__upper">
              <i id="icon_large" *ngIf="light" class="fa fa-star"></i>
              <i id="icon_large_1" *ngIf="!light" class="fa fa-star"></i>

              <i id="toggle_large" *ngIf="light" (click)="lightAct()" class="fa fa-toggle-on"></i>
              <i id="toggle_large_1" *ngIf="!light" (click)="lightAct()" class="fa fa-toggle-off"></i>
          </div>
          <div class="card_bottom">
            <h3 id="heading">Lights</h3>
            <h4 id="body">4 Lights are on.</h4>
          </div>
        </div>
        <div class="card">
          <div class="card__upper">
              <i id="icon_large" *ngIf="climate" class="fa fa-thermometer-empty"></i>
              <i id="icon_large_1" *ngIf="!climate" class="fa fa-thermometer-empty"></i>

              <i id="toggle_large" *ngIf="climate" (click)="climateAct()" class="fa fa-toggle-on"></i>
              <i id="toggle_large_1" *ngIf="!climate" (click)="climateAct()" class="fa fa-toggle-off"></i>
          </div>
          <div class="card_bottom">
            <h3 id="heading">Climate</h3>
            <h4 id="body">23 C Temperature </h4>
          </div>
        </div>
        <div class="card">
          <div class="card__upper">
              <i id="icon_large"*ngIf="music" class="fa fa-music"></i>
              <i id="icon_large_1" *ngIf="!music" class="fa fa-music"></i>

              <i id="toggle_large" *ngIf="music" (click)="musicAct()" class="fa fa-toggle-on"></i>
              <i id="toggle_large_1" *ngIf="!music" (click)="musicAct()" class="fa fa-toggle-off"></i>
          </div>
          <div class="card_bottom">
            <h3 id="heading">Music</h3>
            <h4 id="body">Roll Up  by Wiz Khalifa</h4>
          </div>
        </div>
        <div class="card">
          <div class="card__upper">
              <i id="icon_large" *ngIf="video" class="fa fa-tv"></i>
              <i id="icon_large_1" *ngIf="!video" class="fa fa-tv"></i>

              <i id="toggle_large" *ngIf="video" (click)="videoAct()" class="fa fa-toggle-on"></i>
              <i id="toggle_large_1" *ngIf="!video" (click)="videoAct()" class="fa fa-toggle-off"></i>
          </div>
          <div class="card_bottom">
            <h3 id="heading">Video</h3>
            <h4 id="body">Apple TV active</h4>
            
          </div>
        </div>
      </div>
    </div>
    
</body>